<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="image">
                <img src="https://salestack.in/admin/api/uploads/Product//1660628686Qz8l94Ic.png" class="img-fluid">
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <h5>Update Contact</h5>
                <div class="row">

                    <form #formRef="ngForm" (ngSubmit)="submit()">
                        <!-- First Name -->
                        <div class="form-group mb-1">
                            <label>First Name <span style="color: red;">*</span></label>
                            <input type="text" [(ngModel)]="contactdata.firstname" name="firstname" class="form-control"
                                placeholder="Enter First Name" required #firstName="ngModel" />
                            <div class="text-danger" *ngIf="firstName.touched && firstName.invalid">
                                First Name is required
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group mb-1">
                            <label>Last Name <span style="color: red;">*</span></label>
                            <input type="text" [(ngModel)]="contactdata.lastname" name="lastname" class="form-control"
                                placeholder="Enter Last Name" required #lastName="ngModel" />
                            <div class="text-danger" *ngIf="lastName.touched && lastName.invalid">
                                Last Name is required
                            </div>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-group mb-1">
                            <label>Phone Number <span style="color: red;">*</span></label>
                            <input type="tel" [(ngModel)]="contactdata.phonenumber" name="phonenumber"
                                class="form-control" placeholder="Enter Phone Number" required pattern="^[0-9]{10}$"
                                #phone="ngModel" />
                            <div class="text-danger" *ngIf="phone.touched && phone.invalid">
                                <div *ngIf="phone.errors?.['required']">Phone Number is required</div>
                                <div *ngIf="phone.errors?.['pattern']">Phone Number must be exactly 10 digits</div>
                            </div>
                        </div>

                        <!-- City -->
                        <div class="form-group mb-1">
                            <label>City <span style="color: red;">*</span></label>
                            <input type="text" [(ngModel)]="contactdata.city" name="city" class="form-control"
                                placeholder="Enter City" required #city="ngModel" />
                            <div class="text-danger" *ngIf="city.touched && city.invalid">
                                City is required
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="text-center mt-2">
                            <button type="submit" class="btn btn-primary" [disabled]="formRef.invalid">Update</button>
                            &nbsp;
                            <button type="button" class="btn btn-success" routerLink="/contactlist">Back</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>